$primary-color: #F3293F;
$body-background-color: #F4F4F4;

$tag-business-color: #EB423A;
$tag-fashion-color: #2A75C6;
$tag-tech-color: #45D300;

$facebook-color: #36569A;
$twitter-color: #48C7FC;
$instagram-color: #3370A4;
$youtube-color: #E6270F;

$white: #fff;
$black: #000;
$gray: gray;
$light-gray: #f0f0f0;
