$spacing-base: 16px;

$spacing-small: $spacing-base * 0.75; // 12px
$spacing-xSmall: $spacing-base * 0.5; // 8px
$spacing-large: $spacing-base * 1.25; // 20px
$spacing-xLarge: $spacing-base * 1.5; // 24px
$spacing-xxLarge: $spacing-base * 2; // 32px